:root {
    --theme-white: #ffffff; /* rgb(255, 255, 255); */
    --theme-black: #000000; /* rgb(0, 0, 0); */
    --theme-darkgreen: #006224; /* rgb(0, 98, 36); */
    --theme-mediumgreen: #49a942; /* rgb(73, 169, 66); */
    --theme-lightgreen: #c1d72f; /* rgb(193, 215, 47); */
    --theme-darkgrey: #455a64; /* rgb(69, 90, 100); */
    --theme-mediumgrey: #919194; /* rgb(145, 145, 148); */
    --theme-lightgrey: #cccccc; /* rgb(204, 204, 204); */
    --theme-brightgrey: #f5f5f5; /* rgb(245, 245, 245); */
    --theme-red: #e64a19; /* rgb(230, 74, 25); */
    --theme-yellow: #fbc02d; /* rgb(251, 192, 45); */
    --theme-blue: #1976d2; /* rgb(25, 118, 210); */
    --theme-purple: #660092; /* rgb(102, 0, 146) */
}

* html,body {
    font-family: Helvetica, sans-serif !important;
    font-weight: 500 !important;
}


.theme-HeaderPanel {
    background-color: var(--theme-black);
    color: var(--theme-white);
    height: 44px;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
    z-index: 1;
}

.theme-HeaderHorizontalSeparator {
    height: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,cccccc+50,000000+99 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left, #000000 0%, #cccccc 50%, #000000 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #000000 0%,#cccccc 50%,#000000 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000000 0%,#cccccc 50%,#000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */}

.theme-PopupPanel {
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.75);
}

.theme-NavItem, .theme-NavItemIconOnly, .theme-NavItemMain {
    background: var(--theme-black) !important;
    color: var(--theme-lightgreen) !important;
    padding: 0 !important;
    display: block;
    height: 32px;
    line-height: 32px;
    border-radius: 0.1em;
    text-transform: uppercase;
}

.theme-NavItemMain {
    /*
    height: 44px;
    line-height: 44px;
    margin: 0 2em 0 0;
    font-size: 1.44em;
    font-weight:bold;
    font-variant: small-caps;
    */
}

.theme-NavItemIconOnly i {
    margin: 0 !important;;
    padding: 0 !important;;
}

.theme-NavItem.active, .theme-NavItemMain.active {
    font-weight: bold;
    border-bottom: 2px solid var(--theme-lightgreen);
}

.theme-SidePanel {
    background-color: var(--theme-brightgrey);
    color: var(--theme-black);
}
