/*
 * Copyright 2025, OpenRemote Inc.
 *
 * See the CONTRIBUTORS.txt file in the distribution for a
 * full listing of individual contributors.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
/* We intentionally remove paddings around fields so we only need to deal with
 * our own paddings, margins and gaps.
 */
@media lumo_mixins_field-internal {
    :host {
        padding: 0;
        width: 100%;
    }
    :host([has-label]) {
        padding-top: 0;
    }
    [class$="container"] {
        width: 100%; /* Lumo sets default field container width as 12em */
    }
}
