@media lumo_mixins_field-internal {
    :host {
        padding: 0;
        width: 100%;
    }
    :host([has-label]) {
        padding-top: 0;
    }
    [class$="container"] {
        width: 100%; /* Lumo sets default field container with as 12em */
    }
}
