# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Oo]ut/
[Tt]mp/

# Other files and folders
.settings/
.gradle/
.vagrant/
.node/
.classpath/
.classpath
.project/
.project
.vscode/
.idea/
.sts4-cache/
.local/
.DS_*/
apminsight-javaagent/
console/iOS/DerivedData
console/iOS/Pods
manager/.factorypath/
Pods/
node_modules/

# Specific files and logs
openremote.log
dive.log
yarn-error.log
local.properties

# File extensions
*.mbtiles
*.air
*.ipa
*.apk
*.dab
*.sh
*.iml
*.ipr
*.iws
*.tsbuildinfo
*~
*.tar.gz
