*~
.DS_*
.local/
local.properties

build/
.gradle
.vagrant

bin/
out/
.settings/
.classpath
.project

*.iml
*.ipr
*.iws
.idea/

# TODO when is this used?
manager/.factorypath
or-shell/iOS/DerivedData
or-shell/iOS/Pods
frontend/bower_components
or-shell/android/src/main/assets/bower_components
console/iOS/DerivedData
console/iOS/Pods
manager/server/conf/console/master/bower_components
