*~
.DS_*
.local/
.vscode/
local.properties
openremote.log
dive.log
*.dab
*.sh
apminsight-javaagent/

build/
.gradle
.vagrant
.node

bin/
out/
.settings/
.classpath
.project

*.iml
*.ipr
*.iws
.idea/

bower_components/
node_modules/
package-lock.json
yarn-error.log
ui/**/yarn.lock
*.tsbuildinfo

console/iOS/DerivedData
console/iOS/Pods

manager/.factorypath
.sts4-cache/
Pods/
