<dom-module id="table-schedule">
  <template>
    <style type="text/css">
      table{
        border:0;
        border-spacing: 0;
      }
      th,td {
        width:20%;
        border-spacing:0px;
        border-bottom: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;

        text-align: center;
      }
      th {
          background-color: #c0d62e;
          color: white;
      }
      td:first-child{
        background-color:#e4e4e4;
        border-bottom: 1px solid #FFFFFF;
      }
    </style>
    <table style="width: 100%;" border="0">
      <tbody>
        <tr>
          <th>&nbsp;</th>
          <th>Morning</th>
          <th>Away</th>
          <th>Evening</th>
          <th>Night</th>
        </tr>
        <tr>
          <td>Mon</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Tue</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Wed</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Thu</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Fri</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Sat</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </template>

   <script>

    Polymer({
      is: 'table-schedule'
    });

  </script>
</dom-module>