<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>423923723820-74pcf7mst282obnoe1g82dlhtgmu01pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423923723820-74pcf7mst282obnoe1g82dlhtgmu01pb</string>
	<key>API_KEY</key>
	<string>AIzaSyC5VHfpI8AMEf7k4V9fV1kg9Lv6xENXD7I</string>
	<key>GCM_SENDER_ID</key>
	<string>423923723820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.example</string>
	<key>PROJECT_ID</key>
	<string>example-c156b</string>
	<key>STORAGE_BUCKET</key>
	<string>example-c156b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:423923723820:ios:b18bf9b5f8e49573</string>
	<key>DATABASE_URL</key>
	<string>https://example-c156b.firebaseio.com</string>
</dict>
</plist>
