<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667022545910-9fee9uvb8iguprjtimmq8uea6cqt2p5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667022545910-9fee9uvb8iguprjtimmq8uea6cqt2p5i</string>
	<key>API_KEY</key>
	<string>AIzaSyB9T09jK4r0Cvc8Yy_D2cMo96GZQZr3qBI</string>
	<key>GCM_SENDER_ID</key>
	<string>667022545910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.openremote.app</string>
	<key>PROJECT_ID</key>
	<string>openremoteapp-a6a60</string>
	<key>STORAGE_BUCKET</key>
	<string>openremoteapp-a6a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667022545910:ios:d757be33609bc318a5add7</string>
	<key>DATABASE_URL</key>
	<string>https://openremoteapp-a6a60.firebaseio.com</string>
</dict>
</plist>