#
# Serve ACME certificate validation challenges and act as an
# SSL reverse-proxy for host "manager:8080"
#
global
    log 127.0.0.1:514 local0 notice

    # Used for serving certificate validation challenges
    chroot /var/acme-webroot
    lua-load /etc/haproxy/acme-http01-webroot.lua

    # Default SSL material locations, managed by letsencrypt container
    crt-base /etc/letsencrypt/live

    maxconn 1024
    ssl-default-bind-ciphers AES256+EECDH:AES256+EDH:!aNULL;
    tune.ssl.default-dh-param 4096

defaults
    log global
    mode http
    # Enable to see detailed logs
    # option httplog
    timeout connect 30s
    timeout client 60s
    timeout server 60s
    timeout tunnel 720m

frontend http
    bind *:80

    # Serve certificate validation challenges directly with Lua plugin
    acl url_acme_http01 path_beg /.well-known/acme-challenge/
    http-request use-service lua.acme-http01 if METH_GET url_acme_http01
