dist/
build/
node_modules/
_site/
.DS_Store
src/**/*.d.ts
src/**/*.js
src/**/*.js.map
openremote/**/*.d.ts
openremote/**/*.js
openremote/**/*.js.map
screenshots/
.env
reports/**

# Credentials for E2E tests
test/fixtures/data/admin.json
test/fixtures/data/user.json
